
body{
	font-family: 'Roboto', sans-serif;
}
.logo{
	width: 300px !important;
}
.botao{
	margin: 0px auto;
}
.navchanges{
	font-size: 18px;
	background-color: #021b3b !important;
}
.textnavbar {
	padding-left: 52%;
	padding-top: 3%;	
	margin-bottom: 3%;
}
.img2{
	width: 80% ;
	padding-top: 8%;	
}
footer{
    border-top:10px solid rgb(180, 33, 33);
    border-radius: 5px;
}

@media (max-width: 1000px){
	.logo{
		width:40%;
	}
	.textnavbar{
		padding-left: 3%;
		padding-top: 2%;
	}	

}

